layout: donate
subtitle: 打赏
comment: false
is_home: false
---

div.donate

  .article.md-padding-y
    .article-header.text-center
      h1.article-title
        i.fa.fa-usd  打赏

    .article-content
      p 如果你觉得本 SDK 还不错，简化了你的开发工作，不妨打赏我一下，这样我就有更大的动力去完善它，优化它。

      .qrcode-images
        img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechat-wechat.jpg")
        img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechat-alipay.jpg")
